

body {
    background-color: lightgray;
}

.stanza::first-letter {
    color: red;
    font-size: 20pt;
}

h1 {
    font-size: 38pt;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url('../img/raven.png');
    background-repeat: repeat-x;
    background-size: contain;
}

.stanza p{
    font-weight: bold;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

.column {
    flex: 1;
   
}


.stanza {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.stanza img {
    width: 50%;
  
   
}

#justify {
    text-align: justify;
   
}

#btn:hover {
    color: purple;
}

span {
    font-size: 14pt;
}

