

body {
    background-color: lightgray; /* Set the background color to lightgray */
}

h1 {
    font-size: 38pt; /*Set the title of the page to “The Raven” in 38pt Helvetica black*/
    font-family: Arial, Helvetica, sans-serif; /**/
    font-weight: bold;
    background-image: url('../img/raven.png'); /*Use the image (raven.jpg) as a background for the title and tile it across the top of the page in a single horizontal row.*/
    background-repeat: repeat-x;
    background-size: contain;
}

p {
    font-size: 10pt; /*Set the text in each paragraph to 10pt Helvetica bold*/
    font-weight: bold;/**/
}

.name {
    font-weight: lighter; /*Put your name below the (edgar.jpg) in the middle column.*/
    font-size: 14pt
}

.stanza::first-letter {
    font-size: 100px; /*Set the first letter of each stanza to twice as large as the rest of the text. Set the color to red.*/
    color: red;
}


.btn:hover {
    color: violet; /*Control your button text color so when you hover over the button "THE END" text color of the
    button changes to violet.
    */
}


.container {
    display: flex; /*Set the text into 3 columns each with an equal width relative to the viewport. The first 3 stanzas
    should be in column1, then 2 more stanzas each in column 2 and column 3.*/
    justify-content: space-between; /*There should be a some space between columns*/
}

.column {
    flex: 1;
    margin: 0 10px;
}

.stanza {
    align-items: center;
    text-align: center;     /*This is to center the image all the way*/
    flex-direction: column;

}

.stanza img {
    width: 50%;
    
}

#formContainer {
    background-color: pink; 
   

}



